<div align="center">
  <h2>JOIN URPS !!</h2>
  <% if @user %>
    You are signed in as <%= @user.username %><br /><br />
    <a href='/signout'>Sign Out</a>
  <% else %>
    You are not signed in!<br /><br />
    <a href='/signin'>Sign In</a><br />
    <a href='/signup'>Sign Up</a>
    </div>
    
  <% end %>
</div>
