<div align="center">
  <h2>Login</h2>
  <form action='/signin' method='post'>
    <input type='text' name='username' placeholder='Username'><br>
    <input type='password' name='password' placeholder='Password'><br />
    <input type='submit' value='Submit'>
  </form>
</div>
